.carboncloud-upload-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.upload-from-computer {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-ibm-plex-mono);
  color: var(--colors-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--colors-black);
  border-radius: var(--br-11xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-base);
  min-height: 62px;
}